# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
/aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host/App_Data/Logs/Logs.txt
aspnet-core/src/AbpCompanyName.AbpProjectName.Web.Host/App_Data/Logs/Logs.txt
