@using AbpCompanyName.AbpProjectName.Web.Views.Shared.Components.AccountLanguages
@model LanguageSelectionViewModel

@if (Model.Languages.Count > 1)
{
    <div class="text-center">
        @foreach (var language in Model.Languages)
        {
            @if (language.Name != Model.CurrentLanguage.Name)
            {
                <a href="@Url.Action("ChangeCulture", "AbpLocalization", new {cultureName = language.Name, returnUrl = Context.Request.Path + Context.Request.QueryString})">
                    <span title="@language.DisplayName">
                        <i class="d-inline-block mx-1 @language.Icon"></i>
                    </span>
                </a>
            }
        }
    </div>
}