@using AbpCompanyName.AbpProjectName.Web.Views.Shared.Components.AccountLanguages
@model LanguageSelectionViewModel
@if (Model.Languages.Count > 1)
{
    <div class="text-center">
        @foreach (var languageInfo in Model.Languages)
        {
            <a href="@Url.Action("ChangeCulture", "AbpLocalization", new {
                    cultureName = languageInfo.Name,
                    returnUrl = Context.Request.Path + Context.Request.QueryString
                })">
                <span class="@(languageInfo.Name == Model.CurrentLanguage.Name ? "current-language-icon" : "")" title="@languageInfo.DisplayName">
                    <i class="@languageInfo.Icon"></i>
                </span>
            </a>
        }
    </div>
}
