.dashboardCard{
    margin-top: 16px;
}

.dasboardCard-task{
    background-color: #E91E63;
    border-radius: 5px;        
}

.dasboardCard-ticket{
    background-color: #00BCD4;
	border-radius: 5px;
}

.dasboardCard-comment{
    background-color: #8BC34A;
	border-radius: 5px;
}
.dasboardCard-visitor{
    background-color: #FF9800;
	border-radius: 5px;
}

.dashboardCardCounter{
    font-size: 36px;
     color: #fff; 
}

.dashboardCardName{
    font-size: 18px;
    color: #fff;
    margin-bottom: -5;
}

.dashboardCardIcon{
    font-size: 48px;
    color: #fff; 
}

.dasboardChart{
    margin-top: 24px; 
    padding: 24px;
    background: #fff;
    min-Height: 360px;
}