@using AbpCompanyName.AbpProjectName.Web.Views.Shared.Components.RightNavbarLanguageSwitch
<ul class="navbar-nav ml-auto">
    @await Component.InvokeAsync(typeof(RightNavbarLanguageSwitchViewComponent))
    @await Html.PartialAsync("_Header.RightNavbar.UserMenu.cshtml")
    @*@await Html.PartialAsync("_Header.RightNavbar.Messages.cshtml")*@
    @*@await Html.PartialAsync("_Header.RightNavbar.Notifications.cshtml")*@
    @*<li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
            <i class="fas fa-th-large"></i>
        </a>
    </li>*@
</ul>