@using Abp.Web.Mvc.Alerts

@inject IAlertManager AlertManager

<div class="container-fluid">
    @if (AlertManager.Alerts.Any())
    {
        @foreach (var alertMessage in AlertManager.Alerts)
        {
            <div class="alert alert-@alertMessage.Type.ToString().ToLowerInvariant() @(alertMessage.Dismissible ? "alert-dismisable" : "") mt-3 mr-1 ml-1">
                @if (alertMessage.Dismissible)
                {
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                }
                <h5>
                    @{
                        var iconClass = "info";
                        switch (alertMessage.Type)
                        {
                            case AlertType.Success:
                                iconClass = "check";
                                break;
                            case AlertType.Danger:
                                iconClass = "ban";
                                break;
                            case AlertType.Warning:
                                iconClass = "exclamation-triangle";
                                break;
                            case AlertType.Info:
                                iconClass = "info";
                                break;
                        }
                    }
                    <i class="icon fas fa-@iconClass"></i>
                    @alertMessage.Title
                </h5>
                @alertMessage.Text
            </div>
        }
    }
</div>