<a href="~/" class="brand-link">
    <img src="~/img/logo.png"
         alt="Logo"
         class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">AbpProjectName</span>
</a>
