<form autocomplete="off" #resetPasswordModal="ngForm" (ngSubmit)="resetPassword()">
    <h1 mat-dialog-title>{{ "ResetPassword" | localize }}</h1>
    <mat-dialog-content style="width:800px;height:250px;">
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field>
                    <input matInput id="adminPassword" type="password" [(ngModel)]="resetPasswordDto.adminPassword"
                        name="AdminPassword" [placeholder]="'AdminPassword' | localize" required />
                    <mat-hint>1. Enter your administrator password</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-sm-12">
                <mat-form-field>
                    <input matInput id="newPassword" readonly [ngModel]="resetPasswordDto.newPassword" type="text" name="NewPassword" />
                    <mat-hint>2. Copy this random password so you can send it to the user</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="isLoading" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!resetPasswordModal.form.valid || isLoading">
            {{ "Save" | localize }}
        </button>
    </div>
</form>
