@using AbpCompanyName.AbpProjectName.Web.Startup
@{
    ViewBag.ActiveMenu = PageNames.About;
}

<h2>@L("About")!</h2>

<div class="row">
    <div class="col-lg-12">
        @L("About_Description")
    </div>
</div>