<form
  class="form-horizontal"
  autocomplete="off"
  #changeTenantForm="ngForm"
  (ngSubmit)="save()"
>
  <div class="modal-header">
    <h4 class="modal-title">{{ "ChangeTenant" | localize }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="tenancyName">
        {{ "TenancyName" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          id="tenancyName"
          name="tenancyName"
          [(ngModel)]="tenancyName"
          maxlength="64"
        />
      </div>
    </div>
    <span>
      <i class="fa fa-info-circle"></i>
      {{ "LeaveEmptyToSwitchToHost" | localize }}
    </span>
  </div>
  <div class="modal-footer justify-content-between">
    <button
      type="button"
      class="btn btn-default"
      [disabled]="saving"
      (click)="bsModalRef.hide()"
    >
      {{ "Cancel" | localize }}
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!changeTenantForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
