<div class="card"
     [busy]="submitting"
     [@routerTransition]>
    <div class="body">
        <form #resetPasswordForm="ngForm"
              id="resetPasswordForm"
              method="post"
              novalidate
              (ngSubmit)="resetPassword()">
            <h4 class="text-center p-b-15">{{l("RecoverPassword")}}</h4>

            <mat-form-field>
                <mat-label>{{l("NewPassword") | titlecase}}</mat-label>
                <input matInput
                       #newPassword="ngModel"
                       id="newPassword"
                       type="password"
                       name="newPassword"
                       [(ngModel)]="newPasswordValue"
                       required
                       maxlength="32"
                       minlength="6"
                       class="validate"
                       validateEqual="newPasswordConfirmation"
                       reverse="true"
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$">
                <mat-error *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched) && newPassword.errors.minlength">
                    {{l('TooShort')}}
                </mat-error>
                <mat-error *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched) && newPassword.errors.pattern">
                    {{l('PasswordPatternErrorMessage')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{l("NewPasswordConfirmation") | titlecase}}</mat-label>
                <input matInput
                       #newPasswordConfirmation="ngModel"
                       id="newPasswordConfirmation"
                       type="password"
                       name="newPasswordConfirmation"
                       [(ngModel)]="newPasswordConfirmationValue"
                       required
                       maxlength="32"
                       minlength="6"
                       class="validate"
                       validateEqual="newPassword">

                <mat-error *ngIf="newPasswordConfirmation.invalid && (newPasswordConfirmation.dirty || newPasswordConfirmation.touched) && !newPasswordConfirmation.errors.validateEqual">{{l("PasswordMismatch")}}</mat-error>
            </mat-form-field>
            <div class="form-actions text-right">
                <button mat-button
                        type="button"
                        [disabled]="saving"
                        [routerLink]="['/account/login']">
                    {{ "Back" | localize }}
                </button>
                <button mat-flat-button
                        type="submit"
                        flex="15"
                        color="primary"
                        [disabled]="!resetPasswordForm.form.valid || saving">
                    {{ "Save" | localize }}
                </button>
            </div>
        </form>
    </div>
</div>
