<form autocomplete="off"
      #recoverPasswordForm="ngForm"
      (ngSubmit)="save()"
      [busy]="saving">
    <h1 mat-dialog-title>{{ "RecoverPassword" | localize }}</h1>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput
                   name="userNameOrEmailAddress"
                   [(ngModel)]="userNameOrEmailAddress"
                   [placeholder]="'UserNameOrEmail' | localize"
                   autocomplete="off"
                   required
                   maxlength="255" />
        </mat-form-field>
    </mat-dialog-content>
    <div mat-dialog-actions
         align="end"
         class="m-b-15">
        <button mat-button
                type="button"
                [disabled]="saving"
                (click)="close()">{{ "Cancel" | localize }}</button>
        <button mat-flat-button
                type="submit"
                flex="15"
                color="primary"
                [disabled]="!recoverPasswordForm.form.valid || saving">{{ "SendEmail" | localize }}</button>
    </div>
</form>
