@{
    ViewBag.ActiveMenu = "About"; //The menu item will be active for this page.
}
<div>
    <div class="row">
        <div class="col-md-12">
            <h3>About This Template</h3>

            <p>
                This is a simple startup template based on ASP.NET Boilerplate framework and module-zero.
                If you need an enterprise startup template, check <a href="http://aspnetzero.com?ref=abptmpl" target="_blank">ASP.NET ZERO</a>.
            </p>

            <h3 id="DocIntro">What is Module Zero?</h3>

            <p>
                ASP.NET Boilerplate framework is designed to be independent of any database
                schema and to be as generic as possible. Therefore, It leaves some concepts
                <strong>abstract</strong> and <strong>optional</strong> (like audit logging, session management and authorization)
                which requires some <strong>data store</strong>.
            </p>
            <p>
                <strong>Module Zero </strong>implements all fundamental concepts of ASP.NET
                Boilerplate framework such as <a href="http://www.aspnetboilerplate.com/Pages/Documents/Zero/Tenant-Management">tenant management</a> (<strong>multi-tenancy</strong>),
                <a href="http://www.aspnetboilerplate.com/Pages/Documents/Zero/Role-Management">
                    role management
                </a>, <a href="http://www.aspnetboilerplate.com/Pages/Documents/Zero/User-Management">user management</a>, <a href="http://www.aspnetboilerplate.com/Pages/Documents/Abp-Session">session</a>,
                <a href="http://www.aspnetboilerplate.com/Pages/Documents/Authorization">authorization</a> (<a href="http://www.aspnetboilerplate.com/Pages/Documents/Zero/Permission-Management">
                    permission management
                </a>),
                <a href="http://www.aspnetboilerplate.com/Pages/Documents/Setting-Management">setting management</a>, <a href="http://www.aspnetboilerplate.com/Pages/Documents/Zero/Language-Management">
                    language management
                </a>, <a href="http://www.aspnetboilerplate.com/Pages/Documents/Audit-Logging">audit logging</a>
                and so on.
            </p>
            <p>
                Module-Zero defines entities and implements <strong>domain logic</strong>
                (domain layer) and leaves application and presentation layers to the
                application.
            </p>

            <h4>Based on Microsoft ASP.NET Identity Framework</h4>

            <p>
                Module Zero is based on Microsoft's
                <a href="http://www.asp.net/identity" target="_blank">ASP.NET Identity Framework</a>.
                It extends user and role managers and implements user and role stores using generic repositories.
                It supports any ORM that can be used with ASP.NET Boilerplate
                (like Entity Framework and NHibernate). While module zero extends Identity Framework, it has many unique features.
            </p>

            <h3>Documentation</h3>

            <p>See <a href="http://www.aspnetboilerplate.com/Pages/Documents">documentation</a> for ASP.NET Boilerplate framework and module-zero.</p>

            <h3>Source code</h3>

            <p>
                Module-Zero source code is seperated from ASP.NET Boilerplate and hosted on
                <a href="https://github.com/aspnetboilerplate/module-zero" target="_blank">https://github.com/aspnetboilerplate/module-zero</a>.
                It's distributed on <a href="http://www.aspnetboilerplate.com/Pages/Documents/Zero/Nuget-Packages">nuget</a> as
                the framework.
            </p>

        </div>

    </div>
</div>