<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default close-button" data-dismiss="modal">@L("Cancel")</button>
    <button type="submit" class="btn btn-primary save-button">@L("Save")</button>
</div>
